In [1]:
import pandas as pd

In [2]:
import sys
sys.path.append("../utils")
import load

In [3]:
df = load.load_train_data()

In [4]:
df_encoded = pd.get_dummies(df)

In [5]:
df_encoded

,age,study_hours,class_attendance,sleep_hours,exam_score,gender_female,gender_male,gender_other,course_b.com,course_b.sc,...,study_method_group study,study_method_mixed,study_method_online videos,study_method_self-study,facility_rating_high,facility_rating_low,facility_rating_medium,exam_difficulty_easy,exam_difficulty_hard,exam_difficulty_moderate
id,,,,,,,,,,,,,,,,,,,,,
0,21,7.91,98.8,4.9,78.300,True,False,False,False,True,...,False,False,True,False,False,True,False,True,False,False
1,18,4.95,94.8,4.7,46.700,False,False,True,False,False,...,False,False,False,True,False,False,True,False,False,True
2,20,4.68,92.6,5.8,99.000,True,False,False,False,True,...,False,False,False,False,True,False,False,False,False,True
3,19,2.00,49.5,8.3,63.900,False,True,False,False,True,...,True,False,False,False,True,False,False,False,False,True
4,23,7.65,86.9,9.6,100.000,False,True,False,False,False,...,False,False,False,True,True,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
629995,18,4.86,70.7,4.1,69.500,True,False,False,False,False,...,False,True,False,False,True,False,False,False,False,True
629996,21,7.08,54.4,4.5,78.900,True,False,False,False,False,...,False,True,False,False,False,True,False,False,False,True
629997,24,0.64,44.2,4.3,19.599,False,True,False,False,False,...,False,False,True,False,False,True,False,False,False,True
629998,20,1.54,75.1,8.2,59.100,False,True,False,True,False,...,True,False,False,False,True,False,False,False,False,True
629999,18,3.94,75.3,5.8,37.200,False,False,True,False,False,...,False,False,True,False,False,True,False,True,False,False